.hide {
    display: none;
}

.car {
    margin-top: 3%;
    margin-left: 5%;
    width: 50px;
    height: 100px;
    background: url('/image/player.png') center / cover no-repeat;
    transform: rotate(180deg) scale(1.5);
    
}

